/* --- Fonts --- */

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* --- Reset --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* --- Background Color --- */

body {
  margin: 0;
  height: 100vh;

  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.6),   /* top dark overlay */
      rgba(0, 0, 0, 0.6)    /* bottom dark overlay */
    ),
    url("img/skol.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


/* --- Header Layout --- */
.m-nav {
  text-align: center;
  padding-top: 45px;

}

/* --- School Name --- */
.m-nav h6 {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 7px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  color: white;
}

.m-nav h6::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 1px;
  background-color: white;
}

/* --- Navigation Links --- */
.m-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-ul li {
  list-style: none;
}

.m-ul li:not(:last-child) {
  border-right: 1px solid white;
}

.m-ul li a {
  text-decoration: none;
  color: white;
  padding: 0 25px;
  font-size: 17px;
  font-weight: 500;
  display: inline-block;
  transition: 0.3s ease;
}

/* --- Active Link (Mission & Vision) --- */
.m-ul li a.nav-mi-vi {
  font-weight: 700;
  position: relative;
}

/* --- Hover Effect --- */

.m-ul li a:hover {
  color: #555;
}

/* --- Main --- */

main{
  display: flex;
}

.Qoute {
  margin-top: 50vh;
  margin-left: 10%;
}

.Qoute h1{
  color: white;
  font-size: 120px;
  line-height: 0.8;
}

.b-enroll{
  margin-top: 15px;
  padding: 5px;
  background-color: red;
  border-style: none;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-radius: 30px;
}